In [1]:
import pandas as pd

In [2]:
heights =[157.0,'168.2',192.1]

In [3]:
pd_heights = pd.Series(heights)

In [4]:
pd.Series(pd_heights)

0      157
1    168.2
2    192.1
dtype: object

In [5]:
book_list = ['Minha luta','Istambul', 'Família']

In [6]:
pd.Series(book_list, index=['autoficção','calmo','caótico'])

autoficção    Minha luta
calmo           Istambul
caótico          Família
dtype: object

In [7]:
pd.__version__

'1.1.3'

In [8]:
pd.Series(book_list)

0    Minha luta
1      Istambul
2       Família
dtype: object

In [9]:
pd_book_list = pd.Series (book_list)
type (pd_book_list.index)

pandas.core.indexes.range.RangeIndex

In [10]:
list (pd.RangeIndex(start = 4, stop = 41, step=2))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [11]:
pd_book_list.shape

(3,)

In [12]:
pd_book_list.dtype

dtype('O')

In [13]:
pd_book_list.name == None

True

In [14]:
pd_book_list.name = 'Minha lista de livros favoritos'

In [15]:
pd_book_list.name

'Minha lista de livros favoritos'

In [16]:
pd_book_list.index.name = 'Meus livros'

In [17]:
pd_book_list.index.name

'Meus livros'

In [18]:
pd_book_list

Meus livros
0    Minha luta
1      Istambul
2       Família
Name: Minha lista de livros favoritos, dtype: object

In [19]:
atores =["Brad Pitt","Adan Drive", "Robert De Niro",'Merryl Streep']

In [20]:
idades = [51,36,75,74]

In [21]:
pd_atores_idades = pd.Series(data=idades, index=atores)
pd_atores_idades

Brad Pitt         51
Adan Drive        36
Robert De Niro    75
Merryl Streep     74
dtype: int64

In [22]:
a = pd.Series(range(10))

In [23]:
len(a)

10

In [24]:
a.head(2)

0    0
1    1
dtype: int64

In [25]:
a.tail(2)

8    8
9    9
dtype: int64

In [26]:
from string import ascii_lowercase as al

In [27]:
al

'abcdefghijklmnopqrstuvwxyz'

In [28]:
pd.Series(al)

0    abcdefghijklmnopqrstuvwxyz
dtype: object

In [29]:
list(al)
len(list(al))

26

In [30]:
alfabeto = list(al)
pd_alfabeto = pd.Series(alfabeto)
pd_alfabeto.head(5)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [32]:
pd_alfabeto[0:5]

0    a
1    b
2    c
3    d
4    e
dtype: object

In [34]:
from string import ascii_uppercase as aub

In [68]:
pd_al = pd.Series(data=list(al), index= map(lambda x:'Label_' + x, list(au)))
pd_au[0:5]

A    a
B    b
C    c
D    d
E    e
dtype: object

In [54]:
# Qual é a primeira letra?
pd_al['Label_A']

'a'

In [55]:
pd_al['Label_A':'Label_F']

Label_A    a
Label_B    b
Label_C    c
Label_D    d
Label_E    e
Label_F    f
dtype: object

In [66]:
pd_al = pd_al.add_prefix('Item_')

In [69]:
pd_al.head()

Label_A    a
Label_B    b
Label_C    c
Label_D    d
Label_E    e
dtype: object

In [71]:
pd_al.Label_A

'a'

In [74]:
pd_al.loc['Label_A':'Label_G']

Label_A    a
Label_B    b
Label_C    c
Label_D    d
Label_E    e
Label_F    f
Label_G    g
dtype: object

In [75]:
pd_al.iloc[0:5]

Label_A    a
Label_B    b
Label_C    c
Label_D    d
Label_E    e
dtype: object

In [78]:
def cada_cinco (x):
    return [True if (i+1)%5 == 0 else False for i in range(x.size)]

In [80]:
pd_al.iloc[cada_cinco]

Label_E    e
Label_J    j
Label_O    o
Label_T    t
Label_Y    y
dtype: object

In [81]:
pd_al.get(8)

'i'

In [82]:
pd_al.get('Label_A')

'a'

In [153]:
squares = pd.Series(data=[i**2 for i in range(100)])
squares[-3:]

97    9409
98    9604
99    9801
dtype: int64

In [154]:
squares.tail(3)

97    9409
98    9604
99    9801
dtype: int64