<a href="https://colab.research.google.com/github/FernandoLajus/Python_pd_bootcamp/blob/main/Bootcamp_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Series Methods and Handling**

In [1]:
import pandas as pd

In [2]:
path = 'drinks.csv'

In [11]:
# O método 'read_csv' tem diversos parâmetros. Uso alguns deles nos blocos seguintes
pd_drinks = pd.read_csv(path)
pd_drinks.head()

       country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
0  Afghanistan            NaN  ...            NaN                           NaN
1      Albania           89.0  ...           54.0                           4.9
2      Algeria           25.0  ...           14.0                           0.7
3      Andorra          245.0  ...          312.0                          12.4
4       Angola          217.0  ...           45.0                           5.9

[5 rows x 5 columns]

In [12]:
pd_drinks.shape

(193, 5)

In [29]:
# Aqui uso alguns parâmetros diferentes do método 'read_csv'
pd_total_litres = pd.read_csv(path,index_col=['country'],usecols=['country','total_litres_of_pure_alcohol'])

In [30]:
pd_total_litres.head()

             total_litres_of_pure_alcohol
country
Afghanistan                           NaN
Albania                               4.9
Algeria                               0.7
Andorra                              12.4
Angola                                5.9

In [17]:
# Tipo DataFrame
type(pd_total_litres)

pandas.core.frame.DataFrame

In [34]:
# Transformar um Dataframe em uma Series, ou seja, uma objeto multidimensional em um vetor unidimensional, através do
#parâmetro 'squeeze' do método 'read_csv'
pd_total_litres_S = pd.read_csv('drinks.csv', index_col=['country'],usecols=['country','total_litres_of_pure_alcohol'],squeeze=True)

In [35]:
# Tipo Series
type(pd_total_litres_S)

pandas.core.series.Series

In [39]:
pd_total_litres_S.head()

country
Afghanistan     NaN
Albania         4.9
Algeria         0.7
Andorra        12.4
Angola          5.9
Name: total_litres_of_pure_alcohol, dtype: float64

In [41]:
#Monotonicity = se existe uma "direção" para os elementos numéricos
pd_total_litres_S.is_monotonic

False

In [47]:
print(pd_total_litres_S.size) # Conta todos os casos, ou linhas
print(pd_total_litres_S.count()) ## Conta todos os casos excluindo valores NaN

193
180

In [48]:
pd_total_litres_S.isnull() # O método itera sobre todos os itens

country
Afghanistan     True
Albania        False
Algeria        False
Andorra        False
Angola         False
               ...
Venezuela      False
Vietnam        False
Yemen          False
Zambia         False
Zimbabwe       False
Name: total_litres_of_pure_alcohol, Length: 193, dtype: bool

In [50]:
[pd_total_litres_S.isnull()] # Retorna só os itens que respodem como True

country
Afghanistan        NaN
Bangladesh         NaN
North Korea        NaN
Iran               NaN
Kuwait             NaN
Libya              NaN
Maldives           NaN
Marshall Islands   NaN
Mauritania         NaN
Monaco             NaN
Pakistan           NaN
San Marino         NaN
Somalia            NaN
Name: total_litres_of_pure_alcohol, dtype: float64

In [51]:
pd_total_litres_S[pd_total_litres_S.isnull()].index # retorna só o indexador

Index(['Afghanistan', 'Bangladesh', 'North Korea', 'Iran', 'Kuwait', 'Libya',
       'Maldives', 'Marshall Islands', 'Mauritania', 'Monaco', 'Pakistan',
       'San Marino', 'Somalia'],
      dtype='object', name='country')

In [55]:
list(pd_total_litres_S[pd_total_litres_S.isnull()].index) # assim posso criar uma lista com o nome dos países

['Afghanistan',
 'Bangladesh',
 'North Korea',
 'Iran',
 'Kuwait',
 'Libya',
 'Maldives',
 'Marshall Islands',
 'Mauritania',
 'Monaco',
 'Pakistan',
 'San Marino',
 'Somalia']

In [57]:
len(list(pd_total_litres_S[pd_total_litres_S.isnull()].index)) # tamanho da lista

13

In [ ]:
list(pd_total_litres_S[pd_total_litres_S.notnull()].index) ## todos os valores não nulos

In [72]:
len(list(pd_total_litres_S[pd_total_litres_S.notnull()].index)) # contagem dos valores não nulos

180

In [78]:
# Todos os paíse que não tem valores nulos
alcohol_servings = pd_total_litres_S[pd_total_litres_S.notnull()]

In [86]:
alcohol_servings.head()

country
Albania               4.9
Algeria               0.7
Andorra              12.4
Angola                5.9
Antigua & Barbuda     4.9
Name: total_litres_of_pure_alcohol, dtype: float64

In [82]:
# Soma do consumo de alcool para todos os países com valores não nulos
total_alcohol_consumption = alcohol_servings.sum()

In [110]:
# Quantidade de países que servem menos de um litro de alcool
len(alcohol_servings[alcohol_servings <1])

27

In [113]:
# Soma do total de alcool servidos para os países que servem menos de um litro de alcool
alcohol_servings[alcohol_servings<1].sum()

10.6