<a href="https://colab.research.google.com/github/FernandoLajus/Python_pd_bootcamp/blob/main/Bootcamp_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Series Methods and Handling**

In [1]:
import pandas as pd

In [2]:
path = 'drinks.csv'

In [5]:
pd_drinks = pd.read_csv(path)

In [6]:
pd_drinks.head()

       country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
0  Afghanistan            NaN  ...            NaN                           NaN
1      Albania           89.0  ...           54.0                           4.9
2      Algeria           25.0  ...           14.0                           0.7
3      Andorra          245.0  ...          312.0                          12.4
4       Angola          217.0  ...           45.0                           5.9

[5 rows x 5 columns]

In [8]:
pd_drinks.shape

(193, 5)