<a href="https://colab.research.google.com/github/FernandoLajus/Python_pd_bootcamp/blob/main/Data_Frames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pandas

In [3]:
pd.__version__1

'1.1.5'

In [35]:
name = ['Fernando','Paulo','Maria','Valentina','Júlio']
years = [21,32,25,19,31]
married = [True,True,False,False,False ]

In [36]:
df = pd.DataFrame({'nome':name,'years': years, 'married':married})

In [37]:
df.head()

        nome  years  married
0   Fernando     21     True
1      Paulo     32     True
2      Maria     25    False
3  Valentina     19    False
4      Júlio     31    False

In [38]:
 df.iloc[2,0]

'Maria'

In [39]:
df.shape

(5, 3)

In [40]:
df.years

0    21
1    32
2    25
3    19
4    31
Name: years, dtype: int64

In [41]:
df.dtypes

nome       object
years       int64
married      bool
dtype: object