<a href="https://colab.research.google.com/github/FernandoLajus/Python_pd_bootcamp/blob/main/Data_Frames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Frames methods and functions

In [1]:
import numpy as np
import pandas as pd

In [ ]:
pd.__version__

'1.1.5'

In [ ]:
name = ['Fernando','Paulo','Maria','Valentina','Júlio']
years = [21,32,25,19,31]
married = [True,True,False,False,False ]

In [ ]:
df = pd.DataFrame({'nome':name,'years': years, 'married':married})

In [ ]:
df.head()

        nome  years  married
0   Fernando     21     True
1      Paulo     32     True
2      Maria     25    False
3  Valentina     19    False
4      Júlio     31    False

In [ ]:
 df.iloc[2,0]

'Maria'

In [ ]:
df.shape

(5, 3)

In [ ]:
df.years

0    21
1    32
2    25
3    19
4    31
Name: years, dtype: int64

In [ ]:
df.dtypes

nome       object
years       int64
married      bool
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nome     5 non-null      object
 1   years    5 non-null      int64
 2   married  5 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 213.0+ bytes

# Refugees

In [ ]:
refugees = pd.read_csv('Refugee.csv')

In [ ]:
refugees.info(memory_usage='deep')

In [ ]:
refugees.head()

   Year       Country of origin  ... m_unknown    Total
0  2010             Afghanistan  ...       NaN  1190157
1  2010  Iran (Islamic Rep. of)  ...       NaN       51
2  2010                    Iraq  ...       NaN        6
3  2010                Pakistan  ...       NaN     6407
4  2010                   China  ...       NaN        6

[5 rows x 24 columns]

In [ ]:
refugees['Country of origin'].value_counts()

In [ ]:
refugees.loc[4]['Country of origin']

'China'

#**Nutritional vallues**

In [2]:
nutrition = pd.read_csv('nutrition.csv')

In [3]:
# O parâmetro "verbose" elimina a descrição exaustiva das colunas. 
#"Memory_usage = deep" mostra um uso mais detalhado da memória 
nutrition.info(verbose=False,memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8789 entries, 0 to 8788
Columns: 77 entries, Unnamed: 0 to water
dtypes: int64(3), object(74)
memory usage: 39.2 MB

In [4]:
nutrition['protein'].sort_values(ascending=False)

753     9.99 g
2279    9.98 g
4261    9.98 g
811     9.95 g
2449    9.94 g
         ...
1920    0.00 g
407     0.00 g
7985    0.00 g
5954    0.00 g
328     0.00 g
Name: protein, Length: 8789, dtype: object

In [ ]:
nutrition.drop('Unnamed: 0',axis=1,inplace=True)
nutrition.head(5)

In [ ]:
nutrition.sample(frac=0.0005) # Frac retorna uma fração do dataset
nutrition.sample(4)

In [7]:
nutrition_1 = pd.read_csv('nutrition.csv',index_col='name')
nutrition_1.drop('Unnamed: 0', axis= 1, inplace=True)

In [8]:
nutrition_1.head()

                serving_size  calories total_fat  ... caffeine theobromine    water
name                                              ...
Cornstarch             100 g       381      0.1g  ...  0.00 mg     0.00 mg   8.32 g
Nuts, pecans           100 g       691       72g  ...  0.00 mg     0.00 mg   3.52 g
Eggplant, raw          100 g        25      0.2g  ...  0.00 mg     0.00 mg  92.30 g
Teff, uncooked         100 g       367      2.4g  ...        0           0   8.82 g
Sherbet, orange        100 g       144        2g  ...  0.00 mg     0.00 mg  66.10 g

[5 rows x 75 columns]

In [ ]:
nutrition_1.loc['Sherbet, orange', 'calories']

144

In [ ]:
nutrition_1.loc['Nuts, pecans':'Sherbet, orange', 'calories': 'sodium']

                 calories total_fat saturated_fat cholesterol    sodium
name
Nuts, pecans          691       72g          6.2g           0   0.00 mg
Eggplant, raw          25      0.2g           NaN           0   2.00 mg
Teff, uncooked        367      2.4g          0.4g           0  12.00 mg
Sherbet, orange       144        2g          1.2g         1mg  46.00 mg

In [9]:
nutrition_1.loc[
                ['Nuts, pecans','Sherbet, orange'],['calories', 'sodium','water'] 
                ]

                 calories    sodium    water
name
Nuts, pecans          691   0.00 mg   3.52 g
Sherbet, orange       144  46.00 mg  66.10 g

In [79]:
print(nutrition_1.iloc[[1,2,4],0])
print(nutrition_1.iloc[[1,3,4],0:3])
print (nutrition.shape)

SyntaxError: ignored

In [26]:
nutri_2 = nutrition.iloc[
               [True if i %2 == 0 else False for i in range (8789)],
               [True if i %2 == 0 else False for i in range (77)]

]
print(nutrition_1.shape)
print(nutri_2.shape)

(8789, 75)
(4395, 39)

In [35]:
print(nutrition_1.iloc[9,1]) # Essa é uma forma de encontrar um valor. Contudo, há uma funçãpo mais precisa
#para buscar valores
# Essas funções são .at .iat. Essas funções são similares a .loc e .iloc, mas comparativamente muito mais rápidas
print(nutrition_1.at["Vegetarian fillets", "calories"])
print(nutrition_1.iat[9,1])

290
290
290

In [38]:
%%time 
print(nutrition_1.iloc[9,1])

290
CPU times: user 345 µs, sys: 919 µs, total: 1.26 ms
Wall time: 2.32 ms

In [51]:
%%time
print(nutrition_1.loc["Vegetarian fillets", "calories"])

290
CPU times: user 749 µs, sys: 917 µs, total: 1.67 ms
Wall time: 2.01 ms

In [52]:
%%time
print(nutrition_1.iat[9,1])

290
CPU times: user 1.63 ms, sys: 55 µs, total: 1.69 ms
Wall time: 1.78 ms

In [55]:
%%time
print(nutrition_1.at["Vegetarian fillets", "calories"])

290
CPU times: user 1.66 ms, sys: 41 µs, total: 1.7 ms
Wall time: 1.59 ms

In [57]:
nutr_mini = nutrition_1.sample(10)

In [108]:
nutr_mini.shape

(10, 75)

In [111]:
nutr_mini.loc[ :,['total_fat','cholesterol']]

                                                   total_fat cholesterol
name
Babyfood, pasta with vegetables, dinner                 2.1g         5mg
Lamb, raw, separable lean only, boneless, loin,...      3.8g        66mg
Succotash, raw, (corn and limas)                          1g           0
Squash, raw, includes skin, zucchini, summer            0.3g           0
Arrowroot, raw                                          0.2g           0
Snacks, salted, yucca (cassava) chips                    26g           0
Crackers, GAMESA SABROSAS, cream                         20g           0
Fish, dry heat, cooked, Atlantic, herring                12g        77mg
Chicken, roasted, cooked, meat only, leg, broil...      7.8g       128mg
Pork, braised, cooked, separable lean only, bla...       13g       100mg

In [123]:
nutr_mini.iloc[[0,1,2],20:]

                                                   vitamin_b12  ...    water
name                                                            ...
Babyfood, pasta with vegetables, dinner               0.00 mcg  ...  87.30 g
Lamb, raw, separable lean only, boneless, loin,...    1.12 mcg  ...  74.54 g
Succotash, raw, (corn and limas)                      0.00 mcg  ...  73.10 g

[3 rows x 55 columns]

In [121]:
nutr_mini.iat[2,4]

'0'