<a href="https://colab.research.google.com/github/FernandoLajus/Estudos_em_python/blob/main/Exerc%C3%ADcios_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import statistics as st

In [ ]:
#Dada a seguinte lista de números, qual das afirmativas corresponde à média do conjunto? (A lista será utilizada pra os próximos 3 exercícios)
#[140, 300, 732, 395, 563, 118, 282, 430, 867, 910, 40, 823, 361,321, 778, 266, 381, 887]
 
 
a = [140, 300, 732, 395, 563, 118, 282, 430, 867, 910, 40, 823, 361,321, 778, 266, 381, 887]

In [ ]:
# Dada a mesma sequência de números, qual das alternativas correspondem à mediana dos dados?

st.median(a)

388.0

In [ ]:
# Ainda com relação à sequência de números dada, qual das alternativas correspondem ao desvio padrão dos dados?
st.stdev(a)

286.3213378299494

In [ ]:
# Por fim, ainda com relação à lista de dados apresentada, é possível afirmar, sobre a moda do conjunto:
print (a)

[140, 300, 732, 395, 563, 118, 282, 430, 867, 910, 40, 823, 361, 321, 778, 266, 381, 887]

In [ ]:
# Função For para repetição:
for i in a:
  print (i)

140
300
732
395
563
118
282
430
867
910
40
823
361
321
778
266
381
887

In [ ]:
# Função For aplicado a valores categóricos
palavra = 'matemática'

for i in palavra:
  print (i*10)

mmmmmmmmmm
aaaaaaaaaa
tttttttttt
eeeeeeeeee
mmmmmmmmmm
áááááááááá
tttttttttt
iiiiiiiiii
cccccccccc
aaaaaaaaaa

In [ ]:
# Função For com uma função Range
for i in range (2):
  print ('Estou fazendo um loop dez vezes')

Estou fazendo um loop dez vezes
Estou fazendo um loop dez vezes

In [ ]:
# Função com função Range com distinção de casas para contagem
for i in range (0,100, 25):
  print (i)

0
25
50
75

In [ ]:
# Usando o For para alterar valores em uma lista. Isso se chama List Comprehension. Se trata de um procecimento para 
# adicionar valores em listas conforme um certo loop
quadrados = []

for i in range (1,11):
  quad = i**2
  quadrados.append(quad)

print (quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
palavras = ['cachorro', 'apartamento', 'janela', 'carro', 'bola','emprego','cabana']

In [ ]:
# Usando o For para buscar valores específicos. Outro exemplo de List Comprehension, agora com strings.
palavras_com_c = [] 
for i in palavras:
  if i[0] == 'c':
    palavras_com_c.append(i)

print (palavras_com_c)

['cachorro', 'carro', 'cabana']

In [ ]:
# Criando um dicionário
dicionário_1 = {'Pessoa':'Felipe', 'Endereço': 'Curitiba', 'Idade': 50}

In [ ]:
#Usando o dicionário para encontrar valores 
dicionário_1['Endereço']

'Curitiba'

In [ ]:
nomes = ['Fernando','Valentina','Paula','André']
idades = [25,32,14,65]

In [ ]:
# Usando o For para fazer um zip de Listas. Pode ser usado para fazer um data frame 
for n,i in zip (nomes, idades):
  print (n,i)

Fernando 25
Valentina 32
Paula 14
André 65

In [ ]:
#Usando o For para printar valores de várias listas
for n,i in zip (nomes,idades):
  print (f'{n} tem {i} anos de idade')

Fernando tem 25 anos de idade
Valentina tem 32 anos de idade
Paula tem 14 anos de idade
André tem 65 anos de idade